$light: whitesmoke;
$gray-200: #e9ecef;
$gray-500: #adb5bd;

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

/* theme colors */

:root,
[data-bs-theme="light"] {
	--bs-body-bg: #f5f5f5;
	--bs-body-color: black;
	$secondary: $gray-200;
	--bs-secondary: $secondary;
	--bs-secondary-rgb: #{red($secondary)}, #{green($secondary)}, #{blue($secondary)};
	--bs-card-bg: #f0ffff;
	--bs-dark-rgb: #{red(#f0ffff)}, #{green(#f0ffff)}, #{blue(#f0ffff)};
}

[data-bs-theme="dark"] {
	--bs-body-bg: #212529;
	--bs-body-color: #f5f5f5;
	$secondary: #212529;
	--bs-secondary: $secondary;
	--bs-secondary-rgb: #{red($secondary)}, #{green($secondary)}, #{blue($secondary)};
	--bs-card-bg: #181b1d;
	--bs-dark-rgb: #{red(#181b1d)}, #{green(#181b1d)}, #{blue(#181b1d)};
}

/* main styling */

.logo-nav,
.logo {
	font-family: "Freestyle Script", sans-serif;
}

.error {
	color: #bd2727;
	background-color: #fecaca;
	border-radius: 5px;
	padding: 2% 4%;
	font-weight: bold;
}

body {
	transition: background-color 0.3s, color 0.3s;
}

body.dark-theme {
	background-color: #121212 !important;
	color: white !important;
}

/* active input styling */

input:focus {
	box-shadow: none !important;
}

/* login styling */

.login-img {
	width: 90%;
	height: 80%;
}

.login-form {
	height: fit-content;
}

/* header styling */

.nav-icon {
	width: 30px;
	height: 30px;
}

.vr {
	opacity: 0.5 !important;
}

/* feed styling */

.icon {
	width: 25px;
	height: 25px;
}

/* profile page styling */

.profile-img {
	width: 100px;
	height: 100px;
}

.btn-edit,
.btn-password {
	background: $gray-200 !important;
	border: 1px solid $gray-200 !important;
}

.username,
.btn-edit,
.btn-password {
	width: fit-content !important;
}

.row {
	--bs-gutter-x: 0rem !important;
}

/* profile posts styling */

.card-snippet {
	width: 100%;
	height: 100% !important;
	overflow: hidden;
	display: flex;
}

.snippet-link pre {
	margin: 0;
	width: 100%;
	height: 100%;
	white-space: pre-wrap !important;
	word-break: break-word;
	overflow: hidden !important;
	transform: scale(1.2);
	transform-origin: center;
}

.snippet-link {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: inherit;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	font-size: 1.2rem;
	opacity: 0;
	transition: opacity 0.3s ease;
	border-radius: 0.25rem;
}

.snippet-link:hover .overlay {
	opacity: 1;
}

.user-posts .col-4 {
	height: 40rem !important;
}

/* tablet landscape styling */

@media (min-width: 992px) and (max-width: 1200px) {
	.login-img {
		width: 90%;
		height: 60%;
	}
}

// @import "../../../node_modules/bootstrap-icons/font/bootstrap-icons";
