$light: whitesmoke;
$gray-200: #e9ecef;
$gray-500: #adb5bd;
$info: #6c757d;

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

/* theme colors */

:root,
[data-bs-theme="light"] {
	--bs-body-bg: #f5f5f5;
	--bs-body-color: black;
	$secondary: $gray-200;
	--bs-secondary: $secondary;
	--bs-secondary-rgb: #{red($secondary)}, #{green($secondary)}, #{blue($secondary)};
	$light: whitesmoke;
	--bs-light: $light;
	--bs-light-rgb: #{red($light)}, #{green($light)}, #{blue($light)};
	--bs-card-bg: #f0ffff;
	--bs-dark-rgb: #{red(#f0ffff)}, #{green(#f0ffff)}, #{blue(#f0ffff)};
	$black: black;
	--bs-black: $black;
	--bs-black-rgb: #{red($black)}, #{green($black)}, #{blue($black)};
	$white: #f0ffff;
	--bs-white: $white;
	--bs-white-rgb: #{red($white)}, #{green($white)}, #{blue($white)};

	.btn-edit,
	.btn-password {
		background: $gray-200 !important;
		border: 1px solid $gray-200 !important;
	}

	.btn-edit:hover,
	.btn-password:hover {
		background: #dee2e6 !important;
		border: 1px solid #dee2e6 !important;
	}

	.dropdown-item:hover {
		background-color: #dee2e6;
		color: black;
	}

	.dropdown > .btn:active {
		color: black;
	}

	#btn-top {
		color: #f5f5f5;
		background: #0d6efd;
	}

	#btn-top:hover {
		background: #212529;
	}

	.card-snippet {
		border: 1.5px solid rgba(128, 128, 128, 0.4);
		border-radius: 0.5rem;
		background-color: var(--bs-card-bg);
		transition: border-color 0.2s ease, box-shadow 0.2s ease, transform 0.2s ease;
		box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.05);
	}

	.card-snippet:hover {
		border-color: rgba(255, 255, 255, 0.2);
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
		transform: translateY(-3px);
	}
}

[data-bs-theme="dark"] {
	--bs-body-bg: #212529;
	--bs-body-color: #f5f5f5;
	$secondary: #212529;
	--bs-secondary: $secondary;
	--bs-secondary-rgb: #{red($secondary)}, #{green($secondary)}, #{blue($secondary)};
	$light: #212529;
	--bs-light: $light;
	--bs-light-rgb: #{red(#212529)}, #{green(#212529)}, #{blue(#212529)};
	--bs-card-bg: #181b1d;
	--bs-dark-rgb: #{red(#181b1d)}, #{green(#181b1d)}, #{blue(#181b1d)};
	$black: white;
	--bs-black: $black;
	--bs-black-rgb: #{red($black)}, #{green($black)}, #{blue($black)};
	--bs-info: #adb5bd;
	--bs-info-rgb: #{red(#adb5bd)}, #{green(#adb5bd)}, #{blue(#adb5bd)};
	$white: #181b1d;
	--bs-white: $white;
	--bs-white-rgb: #{red($white)}, #{green($white)}, #{blue($white)};

	.btn-edit,
	.btn-password {
		background: #adb5bd !important;
		border: 1px solid #adb5bd !important;
		color: black;
	}

	.btn-edit:hover,
	.btn-password:hover {
		background: #6c757d !important;
		border: 1px solid #6c757d !important;
	}

	.dropdown-item:hover {
		background-color: #6c757d;
		color: white;
	}

	.dropdown > .btn:active {
		color: white;
	}

	#btn-top {
		color: #212529;
		background: #0d6efd;
	}

	#btn-top:hover {
		color: #212529;
		background: #f5f5f5;
	}

	.card-snippet {
		border: 1.5px solid rgba(255, 255, 255, 0.5);
		border-radius: 0.5rem;
		background-color: var(--bs-card-bg);
		transition: border-color 0.2s ease, box-shadow 0.2s ease, transform 0.2s ease;
		box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.05);
	}

	.card-snippet:hover {
		border-color: rgba(255, 255, 255, 1);
		box-shadow: 0 4px 12px rgba(255, 255, 255, 1);
		transform: translateY(-3px);
	}
}

/* main styling */

.logo-nav,
.logo {
	font-family: "Freestyle Script", sans-serif;
}

.error {
	color: #bd2727;
	background-color: #fecaca;
	border-radius: 5px;
	padding: 2% 4%;
	font-weight: bold;
}

#eyeicon:hover,
#eyeicon1:hover,
#eyeicon2:hover,
#eyeicon3:hover {
	cursor: pointer;
}

body {
	transition: background-color 0.3s, color 0.3s;
}

hr {
	margin: 0.5rem 0;
}

main {
	min-height: calc(calc(100vh - 48px) - var(--sl-header-height));
}

/* active input styling */

input:focus,
select:focus {
	box-shadow: none !important;
	border-color: #495057 !important;
}

#btn-top {
	bottom: 0;
	right: 0;
}

#btn-top:hover {
	color: white;
}

/* login styling */

.login-img {
	width: 90%;
	height: 80%;
}

.login-form {
	height: fit-content;
}

/* header styling */

.nav-icon {
	width: 30px;
	height: 30px;
}

.vr {
	opacity: 0.5 !important;
}

/* feed styling */

.icon {
	width: 25px;
	height: 25px;
}

.card > .p-3 > a {
	width: fit-content;
}

/* create snippet styling */

@media (min-width: 768px) {
	.ps-md-25 {
		padding-left: 12px !important;
	}
}

@media (min-width: 768px) {
	.pe-md-25 {
		padding-right: 12px !important;
	}
}

/* profile page styling */

.profile-img {
	width: 100px;
	height: 100px;
}

.username,
.btn-edit,
.btn-password {
	width: fit-content !important;
}

.btn-edit:active,
.btn-password:active {
	color: black !important;
}

.user-posts > .row {
	--bs-gutter-x: 0rem !important;
}

.user-posts .col-6,
.user-posts .col-lg-4 {
	padding: 0.25rem;
}

/* profile settings styling */

.profile-settings-img {
	width: 60px;
	height: 60px;
}

/* profile posts styling */

.card-snippet {
	width: 100%;
	height: 100% !important;
	overflow: hidden;
	display: flex;
}

.snippet-link pre {
	margin: 0;
	width: 100%;
	height: 100%;
	white-space: pre-wrap !important;
	word-break: break-word;
	overflow: hidden !important;
	transform: scale(1.2);
	transform-origin: center;
}

.snippet-link {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: inherit;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	font-size: 1.2rem;
	opacity: 0;
	transition: opacity 0.3s ease;
	border-radius: 0.25rem;
}

.snippet-link:hover .overlay {
	opacity: 1;
}

/* footer styling */

.footer2 a:hover {
	color: var(--bs-link-hover-color) !important;
	text-decoration: underline !important;
}

/* animations styling */

.navbar-brand:hover,
.navbar-brand h1:hover,
.login-form > h1:hover {
	transform: rotate(-3deg) scale(1.1);
	transition: transform 0.2s ease-in-out;
}

.bi-eye-slash-fill:hover,
.bi-eye-fill:hover {
	animation: shake 0.3s;
}

@keyframes shake {
	0% {
		transform: translate(1px, 1px) rotate(0deg);
	}
	10% {
		transform: translate(-1px, -2px) rotate(-1deg);
	}
	20% {
		transform: translate(-3px, 0px) rotate(1deg);
	}
	30% {
		transform: translate(3px, 2px) rotate(0deg);
	}
	40% {
		transform: translate(1px, -1px) rotate(1deg);
	}
	50% {
		transform: translate(-1px, 2px) rotate(-1deg);
	}
	60% {
		transform: translate(-3px, 1px) rotate(0deg);
	}
	70% {
		transform: translate(3px, 1px) rotate(-1deg);
	}
	80% {
		transform: translate(-1px, -1px) rotate(1deg);
	}
	90% {
		transform: translate(1px, 2px) rotate(0deg);
	}
	100% {
		transform: translate(1px, -2px) rotate(-1deg);
	}
}

/* mobile navbar styling */

@media (max-width: 992px) {
	[data-bs-theme="light"] {
		.links > div > a,
		.dropdown-group {
			background-color: rgba(0, 0, 0, 0.05);
			border-radius: 0.375rem;
			padding: 0.75rem;
		}

		.links > div > a:hover,
		.dropdown-group:hover {
			background-color: rgba(0, 0, 0, 0.1);
		}
	}

	[data-bs-theme="dark"] {
		.links > div > a,
		.dropdown-group {
			background-color: rgba(255, 255, 255, 0.1);
			border-radius: 0.375rem;
			padding: 0.75rem;
		}

		.links > div > a:hover,
		.dropdown-group:hover {
			background-color: rgba(255, 255, 255, 0.2);
		}
	}
}

/* mobile styling */

@media (max-width: 576px) {
	.logo {
		font-size: 5rem;
	}

	.logo-nav {
		font-size: 2.5rem;
	}

	.user-posts > div > div {
		max-height: 300px !important;
	}
}

/* mobile landscape styling */

@media (min-width: 576px) and (max-width: 768px) {
	.logo {
		font-size: 4rem;
	}

	.logo-nav {
		font-size: 3rem;
	}
}

/* tablet styling */

@media (min-width: 768px) and (max-width: 992px) {
	.logo {
		font-size: 4rem;
	}

	.logo-nav {
		font-size: 2.5rem;
	}

	.user-posts > div > div {
		max-height: 500px;
	}
}

/* tablet landscape styling */

@media (min-width: 992px) and (max-width: 1200px) {
	.login-img {
		width: 90%;
		height: 60%;
	}

	.logo {
		font-size: 4rem;
	}

	.logo-nav {
		font-size: 2.5rem;
	}

	.user-posts > div > div {
		max-height: 400px;
	}
}

@media (min-height: 992px) {
	.login-img {
		height: 650px;
		width: 90%;
	}
}

/* desktop styling */

@media (min-width: 1200px) and (max-width: 1400px) {
	.logo {
		font-size: 5rem;
	}

	.logo-nav {
		font-size: 3rem;
	}

	.user-posts > div > div {
		max-height: 400px;
	}
}

@media (min-width: 1400px) {
	.logo {
		font-size: 5rem;
	}

	.logo-nav {
		font-size: 3rem;
	}

	.user-posts > div > div {
		max-height: 500px;
	}
}
