{% extends '/layouts/app.twig' %} {% block content %}
<div class="pt-5 w-50 mx-auto">
	<h2 class="mb-4">Change Password</h2>
	<form action="/user/password" method="post">
		<div class="mb-3">
			<label for="current_password" class="form-label">Current Password</label>
			<div class="input-box border rounded-1 bg-light d-flex align-items-center">
				<input
					type="password"
					class="form-control border-0 rounded-1 py-2 bg-light"
					name="current_password"
					placeholder="Current Password"
					id="current_password"
					required />
				<i class="bi bi-eye-slash-fill fs-4 me-3" id="eyeicon1"></i>
			</div>
		</div>
		<div class="mb-3">
			<label for="new_password" class="form-label">New Password</label>
			<div class="input-box border rounded-1 bg-light d-flex align-items-center">
				<input
					type="password"
					class="form-control border-0 rounded-1 py-2 bg-light"
					name="new_password"
					placeholder="New Password"
					id="new_password"
					required />
				<i class="bi bi-eye-slash-fill fs-4 me-3" id="eyeicon2"></i>
			</div>
		</div>
		<div class="mb-3">
			<label for="confirm_password" class="form-label">Confirm New Password</label>
			<div class="input-box border rounded-1 bg-light d-flex align-items-center">
				<input
					type="password"
					class="form-control border-0 rounded-1 py-2 bg-light"
					name="confirm_password"
					placeholder="Confirm New Password"
					id="confirm_password"
					required />
				<i class="bi bi-eye-slash-fill fs-4 me-3" id="eyeicon3"></i>
			</div>
		</div>
		<button type="submit" class="btn btn-primary">Change Password</button>
	</form>

	{% if message %}
	<div class="alert alert-{{ error }} mt-4">{{ message }}</div>
	{% endif %}
</div>
{% endblock %} {% block script %}
<script>
	let eyeicon1 = document.getElementById("eyeicon1");
	let eyeicon2 = document.getElementById("eyeicon2");
	let eyeicon3 = document.getElementById("eyeicon3");
	let passwordInput1 = document.getElementById("current_password");
	let passwordInput2 = document.getElementById("new_password");
	let passwordInput3 = document.getElementById("confirm_password");

	eyeicon1.onclick = function () {
		if (passwordInput1.type === "password") {
			passwordInput1.type = "text";
			eyeicon1.classList.remove("bi-eye-slash-fill");
			eyeicon1.classList.add("bi-eye-fill");
		} else {
			passwordInput1.type = "password";
			eyeicon1.classList.remove("bi-eye-fill");
			eyeicon1.classList.add("bi-eye-slash-fill");
		}
	};

	eyeicon2.onclick = function () {
		if (passwordInput2.type === "password") {
			passwordInput2.type = "text";
			eyeicon2.classList.remove("bi-eye-slash-fill");
			eyeicon2.classList.add("bi-eye-fill");
		} else {
			passwordInput2.type = "password";
			eyeicon2.classList.remove("bi-eye-fill");
			eyeicon2.classList.add("bi-eye-slash-fill");
		}
	};

	eyeicon3.onclick = function () {
		if (passwordInput3.type === "password") {
			passwordInput3.type = "text";
			eyeicon3.classList.remove("bi-eye-slash-fill");
			eyeicon3.classList.add("bi-eye-fill");
		} else {
			passwordInput1.type = "password";
			eyeicon3.classList.remove("bi-eye-fill");
			eyeicon3.classList.add("bi-eye-slash-fill");
		}
	};
</script>
{% endblock %}
